<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseProjectURL</key>
	<string>https://ifooqfgcpeczamayyzja.supabase.co</string>
	<key>SupabasePublishableKey</key>
	<string>SUPABASE_PUBLISHABLE_KEY_PLACEHOLDER</string>
	<key>NSSupports​Live​Activities</key>
	<true/>
</dict>
</plist>
